.slider {
  padding-top: 10px;
  .slider-pic {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .user-box {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    .ivu-tabs-nav {
      box-sizing: border-box;
      width: 100%;
      .ivu-tabs-tab {
        text-align: center;
        margin: 0;
        width: 50%;
      }
    }
    .ivu-tabs-content {
      .ivu-form {
        box-sizing: border-box;
        padding: 10px;
        .ivu-btn {
          width: 100%;
        }
      }
      .ivu-tabs-tabpane {
        padding: 0 10px;
      }
    }
    .tag-box {
      .star {
        float: right;
        color: #ffac2d;
      }
      ul>li {
        height: 29px;
      }
    }
  }
  .ivu-form-item {
    width: 100%;
  }
}

//热门
.hot {
  //menu
  .selectMenu {
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    .site {
      width: 200px;
      text-align: left;
    }
    .HotType,
    .DateType {
      width: 100px;
    }
    .HotLang {
      width: 200px;
      float: right;
    }
  } //box
  .box {
    overflow: hidden;
    li {
      width: 400px;
      height: 200px;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      .item {
        width: 100%;
        height: 100%;
        border-top: 5px solid #3d76c2;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        &:hover {
          box-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
        }
        a {
          font-size: 18px;
          width: 100%;
          display: inline-block;
          color: #3d76c2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          margin-top: 10px;
          max-height: 500px;
          font-size: 14px;
          line-height: 1.4;
          color: #666;
          overflow: hidden;
        }
        .info {
          width: 100%;
          padding: 0 20px 20px;
          position: absolute;
          left: 0;
          bottom: 0;
          position: absolute;
          font-size: 16px;
          box-sizing: border-box;
          color: #666;
          opacity: .9;
          display: flex;
          .lang {
            flex: 2;
          }
          .star-count {
            color: #b7730b;
          }
          .star-count,
          .fork-count {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
  } //list 
  .list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 580px;
      height: 60px;
      background-color: #fff;
      margin: 10px 0;
      padding: 10px;
      flex-shrink: 0;
      box-sizing: border-box;
      a {
        color: #333;
        &:hover {
          color: #2d8cf0;
          text-decoration: underline;
        }
      }
      .date {
        color: #999;
        text-align: right;
      }
      &:hover {
        box-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
      }
    }
  }
}
