html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

//版心
.container {
    width: 1200px;
    margin: 0 auto;
}

.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    font-size: 20px;
    color: #464c5b;
    font-weight: 700;
    float: left;
    position: relative;
    top: 0;
    left: 20px;
}

.layout-header {
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.layout-copy {
    text-align: center;
    padding: 100px 0 20px;
    color: #9ea7b4;
    background: #464c5b;
}

.layout-ceiling {
    background: #464c5b;
    padding: 10px 0;
    overflow: hidden;
}

.layout-ceiling-main {
    float: right;
    margin-right: 15px;
    color: #9ba7b5;
}

.layout-ceiling-main.fl {
    float: left;
    margin-left: 15px;
}

.layout-ceiling-main a {
    color: #9ba7b5;
}

.layout-nav {
    overflow: hidden;
    padding-left: 200px;
    box-sizing: border-box;
    .ivu-icon {
        font-size: 20px;
    }
}